<h2> Create a New Celebrity </h2>
<form method="POST" action='/celebrities'>
    <input type="text" placeholder="Celebrity name" name="name" value="<%- celebrity.name %>" />
    <input type="text" placeholder="Celebrity occupation" name="occupation" value="<%- celebrity.occupation %>" />
    <input type="text" placeholder="Celebrity catchPhrase" name="catchPhrase" value="<%- celebrity.catchPhrase %>" />
    <button type="submit">Send</button>
  </form>